
.banner{background-image: url(../../image/grece.jpg);
        color: white;
        padding:150px 0px;
        background-size: cover;
        background-position: center;}








.banner h1{font-size: 50px;}

.banner h2{font-size: 40px;
           font-weight: lighter;
           opacity: 1.2
           margin-bottom: 40px;}